Assignment 1.2
Download at least 20 tweets from Twitter and do some pre-processing techniques such as, but not limited to:
- Tokenization;
- Lemmatization;
- Remove URL, Target Mentions, re-tweets, Hashtags, and Numbers;
- Punctuation removal;
- Stop words removal;
- Removing numerical data from the text;
- Removing duplicate characters in a word;
- Stemming;

Show sample snippets of each of the following pre-processing techniques.
From data inputs and process/codes and output of the process, including the sentiment score.
Also, you may refer to the processes in this site: https://swatimeena989.medium.com/beginners-guide-for-preprocessing-text-data-f3156bec85ca#2fb9)

Upload file in PDF Format.

Assignment 2 (M1) Final Output
Kindly submit the Final Output of Assignment 1.2 on this link.
The full code. Include a short analysis based on your output. (Why does the model derive this score?)
Upload file in PDF Format. 
